* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid lightgrey;
  background-color: white;
  color: blck;
  height: 50px;
  height: 50px;
  border-radius: 20px;
}

a:hover {
  color: red;
}

a:active {
  color: yellowgreen;
}

.navbar a {
  text-decoration: none;
}

.navbar {
  border: 2px solid lightgrey;
  background-color: white;
  color: white;
  height: 50px;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.space {
  height: 20px;
  width: 100;
}

.info {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  border: 3px solid lightgray;
  border-radius: 20px;
}

.about-us {
  border: 3px solid lightgray;
  width: 45%;
}

/*FORM ENDS HERE*/


/* THIS IS THE BOX LAYOUT ON TOP OF THE FORM*/

.container{
  border: 4px solid lightgray;
  padding: 24px;
}

.row{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.box{
  border: 2px solid lightgray;
  width: 100%;
  height: 24px;
  margin-bottom: 24px;
}

.small-box{
  border: 4px solid lightgray;
  height: 100px;
  width: 30%;
  margin-bottom: 24px;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}